.block-4-bg {
    background-color: #EBF2F5;
}

.block-4-title {
    color: #000000;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 45px;
}

.block-4--main-h3 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
