body {
    color: #404040;
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: 1rem;
    line-height: 1.5;
}

.footer-img {
    width: 130px;
    height: auto;
    object-fit: cover;
}

.section{
    padding: 40px;
    height: 100vh;
    /*height: 500px;*/
}
